@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
  font-size: 2.4rem;
  margin-left: 2vw;
  margin-top: 6px;
  margin-bottom: 0;
}

h2 {
  font-size: 2.16rem;
  margin-left: 1.5vw;
  margin-top: 6px;
  margin-bottom: 0;
}

p {
  margin: 0;
  font-size: 25px;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #E8E4E4;
  color: var(--Black, #232323);
  font-family: "Press Start 2P";
}

.columnLeft {
  padding-top: 50px;
  padding-left: 10vw;
  padding-right: 5vw;
  /*viewport width*/
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.columnRight {
  padding-top: 50px;
  padding-left: 5vw;
  padding-right: 10vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.catName {
  display: flex;
  flex-direction: row;
  padding: 3vh 0;
}

.PiCat {
  font-size: 3rem;
  color: var(--Black);
}

.catRating {
  display: flex;
  flex-direction: row;
  padding: 3vh 0;
}

.ratingHeart {
  font-size: 2.45rem;
  fill: #D44;
  stroke-width: 1.1rem;
  stroke: #232323;
}

.modalBorder {
  padding: 3px 7px;
  width: 40%;
  height: 80%;
  border: 10px solid #232323;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 4px solid #000;
  position: relative;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.closeButton {
  position: absolute;
  right: 1%;
  top: 1%;
}

.leaderboardText {
  margin: 6% 0;
  font-size: 2.3rem;
}

.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.column1 {
  display: flex;
  flex-direction: column;
  width: 21%;
  align-items: center;
  margin: 0 2%;
}

.column2 {
  display: flex;
  flex-direction: column;
  width: 42%;
  align-items: flex-start;
  margin: 0 2%;
}

.column3 {
  display: flex;
  flex-direction: column;
  width: 26%;
  align-items: center;
  margin: 0 2%;
}

.heading {
  font-size: 1.3rem;
  margin-bottom: 3vh;
}

.list {
  line-height: 4.3rem;
  font-size: 1.8rem;
}

.catImgBorder {
  padding: 7px 3px;
  width: 100%;
  height: 100%;
  border: 10px solid #232323;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 63vh;
}

.catImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid #000;
}

.editCat {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2.28vh 0;
  width: 100%;
}

.catButtons {
  margin: 0 0 0 2vw;
  padding: 0.6vh 0.6vw;
  border-radius: 10px;
  border: 4px solid #000;
  background: #FFF;
  box-shadow: 5px 5px 0px 3px rgba(0, 0, 0, 0.65);
  font-size: 1.3rem;
  font-family: 'Press Start 2P';
}

.catButtons:hover {
  transform: scale(1.1);
}

.dialogueBorder {
  padding: 7px 3px;
  width: 100%;
  height: 55%;
  border: 10px solid #232323;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 63vh;
}

.dialogueBox {
  width: 100%;
  height: 100%;
  border: 4px solid #232323;
  overflow-y: scroll;
}

.dialogueBox::-webkit-scrollbar {
  display: none;
}

.generatedText {
  border-radius: 25px;
  background-color: #E8E4E4;
  position: relative;
  padding: 2.5vh 1.5vw;
  margin: 1.25vh 1.5vw;
}

.generatedText:after {
  content: ' ';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  bottom: 28%;
  border: 20px solid transparent;
  border-right-color: #E8E4E4;
  border-left: 0;
  border-bottom: 0;
  margin-top: 0;
  margin-left: -20px;
}

.likeBoxes {
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.generatedBox {
  width: 100%;
}

.likedText {
  display: flex;
  justify-content: flex-end;
  border-radius: 25px;
  background-color: #E8E4E4;
  padding: 2.5vh 1.5vw;
  margin: 1.25vh 1.5vw;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.likedText:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #E8E4E4;
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -20px;
}

.likeSection {
  padding-top: 1vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.likeButtons {
  border: none;
  background: transparent;
}

.likeButtons:hover {
  transform: scale(1.1);
}

.likeHearts {
  font-size: 5.4rem;
  fill: #FFF;
  stroke-width: 0.75rem;
  stroke: #232323;
  filter: drop-shadow(7px 6px rgba(0, 0, 0, 0.65));
}