@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

h1 {
  padding: 0px 50px;
}

p {
  /*margin: 25px 150px;*/
  font-size: 25px;
}

button {
  margin: 0px 50px;
  color: #8972ac;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #e8d5c4;
  color: #8972ac;
}

.column1 {
  padding-top: 50px;
  min-height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  font-family: "Roboto Mono";
  border: dotted;
}

.column2 {
  padding-top: 50px;
  min-height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  font-family: "Roboto Mono";
  border: dotted;
}

.interactionSection {
  display: flex;
  justify-content: center;
}

.likeButton {}

.dislikeButton {}

.dialogueBox {
  height: 400px;
  width: 600px;
  overflow-y: scroll;
  margin: 50px;
  border: dotted;
  padding: 25px;
}

.dialogueBox::-webkit-scrollbar {
  display: none;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px, 0px, 18px, 0px, rgba(0, 0, 0, 0.75);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

.catImg {
  object-fit: cover;
  width: 500px;
  height: 550px;
}